.type-button {
  border-radius: 15px;
  height: 60px;
  font-size: 30px;
  width: 330px;
}

.type-buttons_div {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  width: 100%;
}

.type-label {
  color: #fff;
}
