.login-link {
  text-decoration: none;
  align-self: flex-end;
}

.login-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 2em;
  width: 500px;
  > * {
    margin-bottom: 1em;
  }
  > input {
    height: 2em;
    padding: 0.25em;
  }
}

.login-title {
  margin: 0;
}

.trait-label {
  color: #fff;
}
